.Browse-imageHeader{
  background-image: url("../images/books.jpg");
  height: 150px; 
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  text-transform: capitalize;
  font-weight: bold;
  
}

.Browse-navbar{
  margin: 0;
}

.Browse-arrow-div{
  width: 100%;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Browse-arrow-up{
  width:  0; 
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 50px solid white;
}


.Browse-input{
  border-bottom: 2px solid grey;
  border-radius: 5px;
  padding: 10px; 
}


.Browse-card:hover {
	box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12) !important;
}